@media (min-width: 600px) {

    h1.welcome-text {
        background-color: rgba(255, 255, 255, 0.5);
    }

    .header-top {
        margin-top: 5vh;
        height: 96.2px;
    }

    #logo-top {
        width: 227.8px;
        margin-left: 8vw;
    }

    #logo-bottom {
        display: none;
    }

    .topnav-search {
        display: block;
        width: 50%;
    }

    .topnav-icons {
        margin-top: 3.3rem;
        margin-right: 8vw;
    }

    #menuToggle {
        display: none;
    }

    #menuToggle a {
        display: none;
    }

    .navbar {
        display: flex;
        justify-content: space-around;
    }

    .breadcrumb {
        display: none;
    }

    .jackets {
        margin-left: 8vw;
        margin-right: 8vw;
        height: 50vh;
    }

    /* men */
    .men {
        display: block;
    }

    .jackets-men {
        width: 40vw;
        height: 45vh;
        object-fit: cover;
        padding-bottom: 4vh;
        float: left;
        filter: drop-shadow(0px 3px 2px #888);
    }



    .jackets-women {
        float: right;
        display: flex;
        width: 40vw;
        height: 45vh;
        object-fit: cover;
        padding-bottom: 4vh;
        filter: drop-shadow(0px 3px 2px #888);
    }



    /*men*/

    .men {
        height: 410px;
        background-image: url("../images/low-angle-man-exploring-nature2.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position-x: left;
        background-position-y: top;
    }

    .product-list {
        grid-template-columns: repeat(2, 1fr);
        margin: 3rem auto;
    }

    .product {
        margin: 25px;
    }

    .product p {
        font-size: 26px;
    }

    /*women*/

    .women {
        display: block;
        background-image: url("../images/karsten-winegeart-D4G1VIrg-Fc-unsplash2.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position-x: left;
        background-position-y: top;
        height: 410px;
    }

    /*about*/
    .about-us {
        display: flex;
        flex-direction: row;
        margin: 50px auto 200px;
    }

    .about-us>* {
        flex: 1;
    }

    /*check-out*/
    .product-specific--check-out,
    .check-out--info {
        width: 467px;
    }

    .check-out {
        flex-direction: row;
        margin: 0px auto 200px;
    }

    .product-specific--check-out {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .product-specific__details {
        margin-left: 25px;
        background-color: #F5F5F5;
        padding: 0px 30px 30px 30px;
    }

    .check-out--info {
        background-color: #F5F5F5;
        padding: 28px 0;
    }

    .check-out-cta-success {
        margin-bottom: 150px;
    }

    .product-image {
        padding: 0px 20px;
    }

    /*contact*/

    .form__input {
        margin: 0px 10px 12px 0px;
        padding: 5px 5px;
    }

    .contact {
        max-width: 40%;
        margin: 50px auto;
    }

    .footer-box {
        margin-left: 15vw;
        margin-right: 15vw;
    }

    .footer-box #signUp {
        display: block;
    }

    .welcome {
        background-image: url("../images/frontpage/ansgar-scheffold-IZZ78Ugqsow-unsplash.jpg");
        margin-bottom: 2rem;
        height: 44vh;
    }


    h1.welcome-text {
        margin-right: 60vw;
        font-size: 4vh;
        padding-top: 20px;
    }

    /* jacket-specific */

    .product-specific {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 50px 0 0px 0;
    }

    .product-specific--jacket img {
        max-height: 30rem;
    }

    .content ul {
        max-width: 50%;
        margin: auto;
    }



    @media (min-width: 860px) {
        .topnav-icons {
            justify-content: flex-end;
            width: 100%;
        }

        .topnav-icons>* {
            padding: 0px 22px 5px 22px;
        }

        #searchform {
            width: 220px;
        }

    }

    @media (min-width: 1000px) {
        .jackets-men-caption {
            position: absolute;
            top: 0;
            left: 0;
            text-transform: none;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 100%;
            color: #000;
            font-family: Jost;
            font-size: 54px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        .jackets-women-caption {
            position: absolute;
            top: 0;
            left: 0;
            text-transform: none;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 100%;
            color: #FFF;
            font-family: Jost;
            font-size: 54px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        h1.welcome-text {
            margin-right: 53vw;
            font-size: 4vh;
            padding-top: 20px;
        }

        .product-list {
            grid-template-columns: repeat(3, 1fr);
        }


    }

    @media (min-width: 1300px) {
        .product-specific__details {
            max-width: 30%;
        }
    }
}