@import url("utility.css") layer(rainyLayer);
@import url("desktop.css") layer(desktopLayer);

@layer rainyLayer {
  body {
    margin: 0;
    padding: 0;

    /* always hide horizonal scrollbar */
    overflow-x: hidden;
  }

  main {
    margin-bottom: 50px;
  }

  /*show all elements with red border*/
  /* * {border:1px solid red} */

  /*header*/
  header {
    background-color: #ffffff;
    position: relative;
  }

  .header-top {
    display: flex;
    position: relative;
    margin-top: 10px;
    height: 68.0px;
  }

  .header-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: #E4F5FB;
  }

  /*logo*/
  #logo-top {
    width: 100px;
    margin-left: 8vw;
    position: relative;
    z-index: 3;
    vertical-align: top;
  }

  #logo-bottom {
    height: 16.5px;
    width: 237.3px;
    position: relative;
    padding-top: 6px;
    padding-bottom: 6px;
  }

  /*topnav*/
  .topnav-search {
    right: 1rem;
    margin-top: 2.9rem;
    padding-left: 10%;
    display: none;
  }

  .topnav-icons {
    margin-top: 15px;
    margin-right: 2%;
    margin-bottom: 0;
    margin-left: 5%;
    display: flex;
    justify-content: space-between;
    width: 50%;
    right: 1px;
  }

  .topnav-icons>* {
    padding: 0px 0px 5px 0px;
  }

  .topnav-icons a {
    height: 1.5rem;
  }

  .topnav-icons a img {
    height: 1.5rem;
  }

  #searchform {
    border: none;
    outline: none;
    border-bottom: 3px solid #000;
    padding: 0px;
    margin-right: 40px;
    width: 100%;
    height: 1.5rem;
    background-image: url("../images/icons/search-icon.svg");
    background-repeat: no-repeat;
    text-indent: 55px;
    background-size: 1.4rem;
  }

  /* 
   * Responsive Navbar with Dropdown, based on
   * https://www.w3schools.com/howto/howto_js_responsive_navbar_dropdown.asp 
   */
  .navbar {
    font-family: 'jost', sans-serif;
    font-size: 18px;
    position: flex;
    justify-content: flex-end;
    padding-left: 227.8px;
    margin-left: 8vw;
    margin-right: 8vw;
    width: 100%;
    z-index: 4;
    display: none;
  }

  /* Links inside the navbar */
  .navbar a {
    float: left;
    color: #0A3641;
    text-align: center;
    padding: 6px 0px 1px 0px;
    text-decoration: none;
    width: 100px;
    position: relative;
    top: -1px;
  }

  /* The dropdown container */
  .dropdown {
    float: left;
    overflow: hidden;
    width: 12rem;
  }

  /* Dropdown button */
  .dropdown .dropbtn {
    border: none;
    outline: none;
    color: #0A3641;
    font-size: 18px;
    padding: 5px 36px 3px 36px;
    background-color: inherit;
    font-family: inherit;
    /* Important for vertical align on mobile phones */
    margin: 0;
    /* Important for vertical align on mobile phones */
    margin-top: -1px;
  }

  /* Add weight to navbar links on hover */
  .navbar a:hover {
    font-weight: bold;
  }

  .dropbtn:hover {
    font-weight: bold;
  }

  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #E4F5FB;
    min-width: 230px;
    padding: 5px 10px;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.2);
  }

  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: #0A3641;
    text-decoration: none;
    padding: 16px 0px;
    display: block;
    text-align: center;
    width: 100%;
  }

  /* Add background color and styling to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #fff;
    font-weight: bold;
  }

  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .navbar .highlight-nav {
    font-weight: bold;
    padding-left: 0px;
  }

  nav {
    position: static;
    background-color: #E4F5FB;
  }

  nav a {
    display: inline-block;
    text-decoration: none;
  }

  /* breadcrumb */
  .breadcrumb {
    padding: 1.5rem 0.5rem 0 0.5rem;
    margin-left: 20px;
    background-color: #FFF;
    color: #0A3641;
    text-align: center;
    font-family: Roboto Mono;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .breadcrumb ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .breadcrumb a {
    color: #0A3641;
  }

  .breadcrumb li:not(:last-child)::after {
    display: inline-block;
    margin: 0 .25rem;
    content: ">";
  }

  h1 {
    font-family: 'Roboto Mono', monospace;
    text-transform: uppercase;
    font-size: 40px;
    text-align: center;
    padding: 20px 10px;
  }

  h2 {
    font-family: 'Roboto Mono', monospace;
    text-transform: uppercase;
    font-size: 36px;
    text-align: center;
    padding: 20px 10px;

  }

  h3 {
    font-family: 'Jost', sans-serif;
    font-weight: normal;
    font-size: 30px;

  }

  h5 {
    font-family: 'Jost', sans-serif;
    font-weight: bold;
    font-size: 36px;
  }

  .jackets-men a {
    text-decoration: none;
  }

  .jackets-men {
    width: 100%;
    height: 25vh;
    object-fit: cover;
    padding-bottom: 1vh;
  }

  .jackets-men-caption {
    top: -28.5vh;
    left: 3.2vw;
    position: relative;
    width: 60%;
    text-transform: none;
    justify-content: center;
    align-items: center;
    color: #000;
    font-family: Jost;
    font-size: 60px;
    font-weight: 400;
  }

  .jackets-women {
    width: 100%;
    height: 25vh;
    object-fit: cover;
    padding-bottom: 1vh;
  }

  .jackets-women a {
    text-decoration: none;
  }

  .jackets-women img {
    object-position: top left;
  }

  .jackets-women-caption {
    top: -28vh;
    left: 2vw;
    position: relative;
    width: 60%;
    text-transform: none;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-family: Jost;
    font-size: 60px;
    font-weight: 400;
  }

  .footer-box {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding-top: 20px;
    margin-left: 13vw;
    margin-right: 13vw;
    font-family: Roboto;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    flex-direction: column;
  }

  .footer-box a {
    text-decoration: none;
    color: #0A3641
  }

  .footer-box a:hover {
    text-decoration: underline;
  }

  .footer-box #signUp {
    display: none;
  }

  .footer-box ul {
    list-style-type: none;
    padding-inline-start: 0px;
  }

  .footer-box li {
    margin: 15px 0;
  }

  .some-footer {
    display: flex;
    justify-content: center;
  }

  .some-footer>* {
    padding: 0px 20px;
  }

  .logo-footer {
    display: flex;
    justify-content: center;
    height: 70px;
    padding: 50px;
  }

  /*homepage*/
  .welcome {
    background-image: url("../images/frontpage/ansgar-scheffold-IZZ78Ugqsow-mobile.jpg");
    height: 30vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    position: relative;
    margin-bottom: 1vh;
  }

  h1.welcome-text {
    font-family: 'Roboto Mono', monospace;
    text-transform: uppercase;
    text-align: center;
    margin-top: 0px;
    padding-top: 0px;
    font-size: 3.5vh;
    position: relative;
    margin-left: 12%;
    margin-right: 12%;
    top: 1.4vh;
    padding: 0px;
    background-color: rgba(255, 255, 255, 0.5);
  }

  /*men*/

  .men {
    display: none;
  }

  .men h1 {
    font-family: 'Jost', sans-serif;
    font-size: 70px;
    text-align: left;
    color: #000;
    margin-top: 0px;
  }

  .product-list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 4px;
    max-width: 1000px;
    margin: 0 10px 50px 10px;
  }

  .product img {
    max-height: 300px;
    height: 266px;
    width: auto;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .product {
    max-width: 1000px;
    margin: 8px;
    padding: 8px;
  }

  .product a {
    text-decoration: none;
    color: #000;
  }

  .product p {
    font-family: 'Jost', sans-serif;
    margin: 0px;
    font-size: 17px;
    text-align: center;
  }

  /*women*/

  .women {
    display: none;
  }

  .women h1 {
    font-family: 'Jost', sans-serif;
    font-size: 70px;
    text-align: left;
    color: #fff;
    margin-top: 0px;
  }

  /*about*/
  .us {
    font-family: 'Jost', sans-serif;
    font-size: 23px;
    text-align: left;
    margin-top: 0px;
    padding-top: 0px;
    color: #000;
    float: left;
    margin: 0vw 5vw;
  }

  .us p {
    margin-top: 0px;
  }

  .about-us {
    margin: 50px auto 400px;
    max-width: 1000px;
  }

  .about-us-images {
    width: 100%;
  }

  /*contact*/

  .form__input {
    display: block;
    border: 2px solid #7D949D;
    margin: 0px 10px 16px 0px;
    padding: 5px 5px;
    width: 100%;
    font-family: 'Roboto Mono', monospace;
    box-sizing: border-box;
  }

  textarea {
    resize: none;
    height: 120px;
  }

  input[type=submit] {
    cursor: pointer;
    float: right;
  }

  .contact {
    margin: 40px 40px 80px 40px;
  }

  .contact p {
    font-family: 'Jost', sans-serif;
    font-size: 23px;
    color: #0A3641;
    font-weight: bold;
  }

  form {
    color: #868585;
    font-family: 'Roboto Mono', monospace;
  }

  /*checkout*/
  .product-specific--check-out,
  .check-out--info {
    box-sizing: border-box;
    width: 100%;
  }

  .check-out {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: 0px auto;
    justify-content: space-between;
    align-items: flex-end;
  }

  .products {
    display: grid;
    justify-items: center;
    grid-template-columns: 2fr 2fr 1fr;
    margin: 1rem;
    align-items: center;
  }

  .check-out--info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
  }

  .product-image {
    width: 100%;
  }

  .product-text {
    flex: 3;
    font-family: 'Roboto Mono', monospace;
  }

  .product-specific--check-out i {
    flex: 1;
  }

  .last-digits {
    display: flex;
    flex-direction: row;
    flex: 1;
    width: 50%;
  }

  #cvc {
    margin-right: 0;
  }

  .check-out--info cta {
    flex: 1;
  }

  .buy-success {
    display: flex;
    flex-direction: column;
    max-width: 350px;
  }

  .no-label {
    display: none;
  }

  .check-out-sucess {
    color: #0A3641;
    text-align: center;
    margin: auto;
    min-width: 215px;
    padding-bottom: 70px;
  }

  .check-out-sucess p {
    font-family: 'Jost', sans-serif;
    font-size: 20px;
    padding: 0px 0px 30px 0px;
    max-width: 375px;
    text-align: center;
    margin: 50px auto;
  }

  .check-out-sucess h5 {
    display: flex;
    justify-content: center;

  }

  .cta {
    background-color: #F4C14F;
    color: black;
    font-size: 1em;
    font-family: 'Roboto Mono', monospace;
    font-weight: bolder;
    border-radius: 6px;
    padding: 0.2em 0.5em;
    text-decoration: none;
    border: 3px solid black;
    text-align: center;
  }

  .check-out-cta-success {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
  }

  .check-out-button {
    width: 40%;
  }

  .totals {
    margin: auto;
    font-family: 'Roboto Mono', monospace;
    background-color: #E4F5FB;
    display: flex;
    justify-content: space-evenly;
    font-size: large;
    padding: 1rem;
  }

  .fa-trash-can:hover,
  .fa-plus:hover,
  .fa-minus:hover {
    cursor: pointer;
  }

  .form-error {
    display: none;
    color: red;
    font-size: 0.9rem;
    margin-top: 2px;
  }

  /*jacket specific*/

  .product-specific {
    padding: 5vw;
  }

  .product-specific--jacket {
    background-color: #F5F5F5;
    box-sizing: border-box;
  }

  .product-specific__details {
    background-color: #FFF;
    box-sizing: border-box;

    font-family: 'Roboto Mono', monospace;

  }

  #check-out-product-image {
    max-height: 110px;
    margin-left: 20px;
    margin-right: 10px;
    width: auto;
  }

  .product-specific--jacket {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .product-specific--jacket img {
    max-width: 100%;
  }

  .description-header {
    font-weight: 800;
    margin-bottom: 0px;
  }

  .description-paragraph {
    margin-top: 5px;
    padding-bottom: 10px;
  }

  .handle {
    text-align: left;
  }

  .more-details {
    padding-bottom: 50px;
    padding: 5vw;
  }

  .content {
    margin: 0px 30px 0px 0px;
    font-family: 'jost', sans-serif;
    font-size: 16px;
  }

  .content li {
    margin: 1rem;
  }

  /* contact */
  .contact-sucess {
    color: #0A3641;
    text-align: center;
    margin: auto;
    min-width: 215px;
    padding-bottom: 70px;
    margin-bottom: 170px;
  }

  .contact-sucess p {
    font-family: 'Jost', sans-serif;
    font-size: 20px;
    padding: 0px 0px 30px 0px;
    max-width: 375px;
    text-align: center;
    margin: 50px auto;
  }

  .contact-sucess h5 {
    display: flex;
    justify-content: center;

  }

  /*footer*/

  footer {
    margin-top: auto;
    background-color: #E4F5FB;
    color: #0A3641;
  }

  .error {
    border: 1px solid darkred;
    padding: 1rem;
    color: darkred;
    background: rgba(255, 0, 0, 0.1);
    margin: 2rem 0;
    font-family: 'Roboto Mono', monospace;
  }

}