header{
    font-family: 'Jost', sans-serif;
    font-size: 2rem;
    background-color: #ffffff;
    color: #0A3641;
    position: relative
}

#logo{
    background-image: url("images/logo/RainyDays_Logo.png");
    height: 136px;
    width: 254px;
    background-size: cover;
    background-repeat: no-repeat;

}

.navbar{
    background-color: #E4F5FB;
    font-family: 'jost', sans-serif;
    font-size: 20px;
    padding-left: 0px;
    overflow: hidden;
    

}

/* Navbar container */
.navbar {
    overflow: hidden;
  }

/* Links inside the navbar */
.navbar a {
    float: left;
    font-size: 16px;
    color:  #0A3641;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

/* The dropdown container */
.dropdown {
    float: left;
    overflow: hidden;
  }

/* Dropdown button */
.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color:  #0A3641;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }

/* Add a red background color to navbar links on hover */
.navbar a:hover {
    font-weight: bold;
  }

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #E4F5FB;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

/* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: #0A3641;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
  }

/* Add background color and styling to dropdown links on hover */
.dropdown-content a:hover {
    background-color: #fff;
    font-weight: bold;
  }
  
 /* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
  }

.navbar .highlight-nav{
    font-weight: bold;
    padding-left: 0px;
}

nav{
    position: static;
    background-color: #E4F5FB;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #E4F5FB;
    color: #0A3641;
  }

  li a {
    display: inline;
    color: #0A3641;
    padding: 8px 16px;
    text-decoration: none;
  }

/* Change the link color on hover */
li a:hover {
    background-color: #fff;
    font-weight: bold;
  }


nav a{
    display: inline-block;
    text-decoration: none;
}    
    
h1{
    font-family: 'Roboto Mono', monospace;
    text-transform: uppercase;
    font-size: 40px;
    text-align: center;
    padding: 20px 10px; 
}

h2{
    font-family: 'Roboto Mono', monospace;
    text-transform: uppercase;
    font-size: 36px;
    text-align: center;
    padding: 20px 10px; 

}

h5{
    font-family: 'Roboto', sans-serif;
}

h8{
    font-family: 'Roboto Mono', monospace;
}

.jackets-men {
   min-height: 70vh;
   max-height: fit-content;
}

.jackets-women{
   min-height: 70vh;
   max-height: fit-content;
}

/*homepage*/

.welcome{
    background-image: url("images/frontpage/ansgar-scheffold-IZZ78Ugqsow-unsplash.jpg");
    height: 554px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}

/*men*/

.men{
    background-image: url("images/low-angle-man-exploring-nature2.jpg");
    height: 554px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}

.men h1{
    font-family: 'Jost', sans-serif;
    font-size: 70px;
    text-align: left;
    color: #000
}

/*women*/

.women{
    background-image: url("images/karsten-winegeart-D4G1VIrg-Fc-unsplash2.jpg");
    height: 554px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}

.women h1{
    font-family: 'Jost', sans-serif;
    font-size: 70px;
    text-align: left;
    color: #fff
}

/*about*/
.us{
    background-image: url("images/couple-traveling-together-country-side.jpg");
    height: 554px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}

.us p{
    font-family: 'Jost', sans-serif;
    font-size: 23px;
    text-align: left;
    color: #000

}


/*contact*/

.form__input{
    display: block;
}

input[type="text"] {
    padding: 10px;
    width: 100%;
  }

  input, select, textarea{
    border: 1px solid #7D949D
  }

  footer{
    background-color: #E4F5FB;
    color: #0A3641;
}

/*mobile*/

@media (max-width:590px){
    nav a{
        display: block;

    }

    nav{ 
        position: absolute;
        background: #E4F5FB;
        top: 0px;
        left: 0px;

    }